<!-- Front de la pagina principal -->
<!DOCTYPE html>
<html>

<!-- FAVICON -->
<link rel="shortcut icon" href="/favicon.ico">
<head>
    <title>CIAMAS</title>
<!-- Se pasa a adar estilo a la pagina -->
    <style>

        body {
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            margin: 10;
            padding: 0;
            background-color: #D1B5FF;
        }

        header {
            background-color: #6E368F;
            font-size:x-large;
            color: #fff;
            padding: 10px;
            text-align: center;
        }

        nav ul {
          
            list-style-type: none;
            padding: 120;
        }

        nav li {
            display: inline;
            margin: 0 10px;
        }

        nav a {
            color: #fff;
            text-decoration: none;
        }

        section {
            margin: 35px;
            padding: 20px;
            font-size:larger;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 5px;
        }    
           
        iframe {
            max-width: 100%;
        }

        footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 10px;
            position: fixed;
            width: 100%;
            bottom: 0;
        }
    </style>
</head>
<body>

    <header>
        <h1>CIAMAS</h1>
        <nav>
            <ul>
                <li><a href="/">¿Quien soy?</a></li>
                <li><a href="/movil">Yo como App Movil</a></li>
                <li><a href="/registro">Registrate Conmigo</a></li>
                <li><a href="/admin">Registros</a></li>
            </ul>
        </nav>
    </header>

    <section>
        <div class="container">
            <a href="" class="btn btn-outline-primary mt-4 bx"><i class='bx bxs-plus-circle bx-md' ></i></a>
            <table>
                <thead>
                    <tr class="bg-primary text-white"></tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Celular</th>
                        <th scope="col">Contacto</th>
                        <th scope="col">Celular Contacto</th>
                        <th scope="col">Clave</th>
                        <th scope="col">Fecha</th>
    
                        <th scope="col">Acciones</th>
                </thead>
                <tbody>
                    <% results.forEach((usuario)=> { %>
                    <tr>
                        <td><%= usuario.id %></td>
                        <td><%= usuario.nombre %></td>
                        <td><%= usuario.celular %></td>
                        <td><%= usuario.contacto %></td>
                        <td><%= usuario.celcontacto %></td>
                        <td><%= usuario.palaclave %></td>
                        <td><%= usuario.fecha %></td>
                        
                        <td>
                          <a href="editar" class="btn btn-outline-info">Editar</a>
    
                        </td> 
    
                    </tr>
                    <%  }) %>
                </tbody>
            </table>
        </div>

    </section>
    <section>
    <div align="center">
        <img width="300" height="300" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcR5XUuoeODZvwxVyyl44tsh8J_adSfx3xtt6CaJAXFFY2LaEp30"></img>
    </div>
    </section>

    <section>
        <h2>Entropia a solucionar</h2>
        <p>Actualmente nos encontramos en una sociedad donde la seguridad no es un beneficio del que todos puedan disfrutar, sin embargo, lo que siempre llevamos con nosotros es nuestro dispositivo móvil. Al estar en una circunstancia donde tu bienestar puede peligrar CIAMAS busca funcionar como tu asistente de seguridad, para acudir a tu llamado de auxilio, reaccionar de forma inmediata y solicitar la ayuda que necesitas.</p>
    </section>

    <section>
        <h2>Sinergia </h2>
        <p>Desarrollar un prototipo de un aplicativo móvil en lenguaje JavaScript o Python, que funcione de forma interactiva con el usuario, mediante una atención constante y personalizada al dar buen uso de la información privada, que le permitirá recopilar la información necesaria para actuar de manera inmediata y efectiva en busca de su bienestar. El objetivo es crear poco a poco un aplicativo móvil donde llevemos un amigo digital que este al pendiente de nuestra seguridad, establecerá con nosotros una serie de códigos para poder actuar automáticamente a nuestro llamado, en caso de encontrarnos en peligro.</p>
    </section>

    <section>
        <h2>Software aplicativo para la protección y asistencia de su usuario</h2>
        <p>CIAMAS es el prototipo de un software aplicativo para la protección y asistencia del usuario, busca por medio de la cercanía y recolección información brindar una atención personalizada de seguridad, es un amigo virtual, cuyo único objetivo es tenerte a salvo.<br>Tiene como naturalidad de su sistema la integración con todos sus subsistemas. El software busca tener y renovar una actitud familiar con el usuario para emitirle tranquilidad, con esto mientras recolecta información le trasmite al usuario está cercanía, por otro lado toda su organización es dependiente, pues no se puede ejecutar sin la funcionalidad de cada elemento.</p>
    </section>
</body>
</html>